<!DOCTYPE html>
<html>
    <head>
        <title>Signup Page</title>
        <meta charset="UTF-8">
    </head>

    <script>
        function validatePasswords() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            return password == confirmPassword
        }        
    </script>

    <body>
        <h1>signup here or smth</h1>

        <form method="POST" action="/signup" onsubmit="return validatePasswords()">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
        
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
        
            <input type="submit" value="Create Account">
          </form>



    </body>
</html>